## 컬럼명 한글명으로 변환
  * 샘플 trfcard(0) 폴더에 있는 파일을 기준으로 우선 변환

In [1]:
import pandas as pd

In [2]:
trfcard = pd.read_csv("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard.csv")

trfcard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   on_date      4983 non-null   int64
 1   off_date     4983 non-null   int64
 2   route_name   4983 non-null   object
 3   descr        4983 non-null   object
 4   age_type     4983 non-null   object
 5   trans_yn     4983 non-null   object
 6   addfee_yn    4983 non-null   object
 7   start_bstop  4983 non-null   object
 8   start_gps_x  4983 non-null   float64
 9   start_gps_y  4983 non-null   float64
 10  end_bstop    4983 non-null   object
 11  end_gps_x    4983 non-null   float64
 12  end_gps_y    4983 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 506.2+ KB

In [3]:
# 메타정의서 불러오기
trfcard_col = pd.read_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_columns.xlsx",
                            header=2,
                            sheet_name = "컬럼 정의서", # 사용할 sheet 이름 지정
                            usecols = "B, C") # 사용할 특정 열 지정

# 메타정의서 데이터를 딕셔너리 형태로 형변환
trfcard_col_list = trfcard_col.to_dict("records")

# 영문 컬럼명과 한글 컬럼명만 출력되도록 딕셔너리 변수 한 개 더 생성

trfcard_col_dict = {}

for idx in range(0, len(trfcard_col_list)) :
    trfcard_col_dict[trfcard_col_list[idx]["컬럼명 (영문)"]] = trfcard_col_list[idx]["컬럼명 (한글)"]
    
# 만들어진 최종 영문 컬럼명별 한글 컬럼명 딕셔너리 변수를 원본 데이터에 일괄 변환
trfcard_kor = trfcard.rename(columns = trfcard_col_dict)

# 엑셀 파일로 최종 저장
trfcard_kor.to_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_kor.xlsx",
                        index = False)

# 최종 파일 확인
trfcard_kor = pd.read_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_kor.xlsx")

trfcard_kor.head(1)

,승차시각,하차시각,노선명,노선설명,승객연령,환승여부,추가운임여부,승차정류장,승차정류장 GPS X,승차정류장 GPS Y,하차정류장,하차정류장 GPS X,하차정류장 GPS Y
0,20200327051412,20200327051714,160,문덕-대송-송도-죽도-용흥,일반,N,N,문덕사거리,129.403442,35.962846,성우오토모티브,129.384492,35.972675

### # 다른 파일 합치기

In [4]:
trfcard_kor_all = pd.DataFrame()

for idx in range(0, 100) :
    trfcard = pd.read_csv("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard ({})/trfcard.csv".format(idx))
        
    trfcard_kor = trfcard.rename(columns = trfcard_col_dict)

    trfcard_kor_all = trfcard_kor_all.append(trfcard_kor, ignore_index = True)

# 인덱스 재배열
trfcard_kor_all = trfcard_kor_all.reset_index(drop=True)

# 엑셀 파일로 최종 저장
trfcard_kor_all.to_csv("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard_kor_최종.csv")

# 최종 파일 확인
trfcard_kor_all = pd.read_csv("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard_kor_최종.csv")

In [60]:
trfcard_kor_all.tail(1)

,Unnamed: 0,승차시각,하차시각,노선명,노선설명,승객연령,환승여부,추가운임여부,승차정류장,승차정류장 GPS X,승차정류장 GPS Y,하차정류장,하차정류장 GPS X,하차정류장 GPS Y
1057871,1057871,20200122234302,20200122234544,160,문덕-대송-송도-죽도-용흥,일반,Y,N,대송파출소,129.36357,35.98605,송동,129.36208,35.96972

In [61]:
trfcard_kor_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057872 entries, 0 to 1057871
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1057872 non-null  int64
 1   승차시각         1057872 non-null  int64
 2   하차시각         1057872 non-null  int64
 3   노선명          1057872 non-null  object
 4   노선설명         1057872 non-null  object
 5   승객연령         1057872 non-null  object
 6   환승여부         1057872 non-null  object
 7   추가운임여부       1057872 non-null  object
 8   승차정류장        1057872 non-null  object
 9   승차정류장 GPS X  1057872 non-null  float64
 10  승차정류장 GPS Y  1057872 non-null  float64
 11  하차정류장        1057872 non-null  object
 12  하차정류장 GPS X  1057872 non-null  float64
 13  하차정류장 GPS Y  1057872 non-null  float64
dtypes: float64(4), int64(3), object(7)
memory usage: 113.0+ MB

### # 주제 선정
  * 노선별 승객연령
  * 승차정류장별 환승

### # 위에 코딩 정답

In [11]:
df_bus_card_org = pd.read_csv("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard.csv")

# 메타정의서 불러오기
trfcard_col = pd.read_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_columns.xlsx",
                            header=2,
                            sheet_name = "컬럼 정의서", # 사용할 sheet 이름 지정
                            usecols = "B, C") # 사용할 특정 열 지정

# 메타정의서 데이터를 딕셔너리 형태로 형변환
df_bus_card_col_org_dict = trfcard_col.to_dict("records")

In [12]:
df_bus_card_col_new_dict = {}

for i in range(0, len(df_bus_card_col_org_dict)) :
    df_bus_card_col_new_dict[df_bus_card_col_org_dict[i]["컬럼명 (영문)"]] = \
    df_bus_card_col_org_dict[i]["컬럼명 (한글)"]

In [13]:
df_bus_card_kor = df_bus_card_org.rename(columns = df_bus_card_col_new_dict)

### # 분석 주제 정하기 : 분석 요소(컬럼)
  [버스 이용량 분석]
  1. 기준월 및 기준일자별 버스 이용량 분석 비교
  2. 기준일 및 시간대별 버스 이용량 분석 비교
  3. 기준시간 및 시간(분)별 버스 이용량 분석 비교
  
 [버스 내 체류시간]
 
 [승차정류장별 버스내 체류시간]

### # 승차시각 및 하차시각에 대해서 월/일/시간/분을 추출
  * int64 타입이기 때문에 문자타입으로 변환

In [18]:
df_bus_card_kor = df_bus_card_kor.astype({"승차시각" : "str"})

df_bus_card_kor = df_bus_card_kor.astype({"하차시각" : "str"})

In [19]:
df_bus_card_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   승차시각         4983 non-null   object
 1   하차시각         4983 non-null   object
 2   노선명          4983 non-null   object
 3   노선설명         4983 non-null   object
 4   승객연령         4983 non-null   object
 5   환승여부         4983 non-null   object
 6   추가운임여부       4983 non-null   object
 7   승차정류장        4983 non-null   object
 8   승차정류장 GPS X  4983 non-null   float64
 9   승차정류장 GPS Y  4983 non-null   float64
 10  하차정류장        4983 non-null   object
 11  하차정류장 GPS X  4983 non-null   float64
 12  하차정류장 GPS Y  4983 non-null   float64
dtypes: float64(4), object(9)
memory usage: 506.2+ KB

### # 분석 요서(컬럼)을 추출하여 저장할 데이터프레임 생성

In [20]:
df_bus_card = pd.DataFrame()

df_bus_card["승차시각"] = pd.to_datetime(df_bus_card_kor["승차시각"])

df_bus_card["하차시각"] = pd.to_datetime(df_bus_card_kor["하차시각"])

df_bus_card["승객구분"] = df_bus_card_kor["승객연령"]

df_bus_card["환승여부"] = df_bus_card_kor["환승여부"]

df_bus_card["추가운임여부"] = df_bus_card_kor["추가운임여부"]

df_bus_card["승차정류장"] = df_bus_card_kor["승차정류장"]

df_bus_card["하차정류장"] = df_bus_card_kor["하차정류장"]

df_bus_card

### # 버스내 체류시간(분) 컬럼 만들기
  * 버스내체류시간(분) = 하차시간(분) - 승차시각(분)
  * 분만 추출

In [39]:
df_bus_card["버스내체류시간(분)"] = pd.to_datetime(df_bus_card["하차시각"]).dt.minute - \
                                    pd.to_datetime(df_bus_card["승차시각"]).dt.minute

# 이미 승하차 시각을 날짜 타입으로 가져왔기 대문에 pd.to_datetime을 안해도 된다.

# df_bus_card["버스내체류시간(분)"] = (df_bus_card["하차시각"].dt.minute - df_bus_card["승차시각"].dt.minute)

print(df_bus_card.info())
print(df_bus_card.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   승차시각        4983 non-null   datetime64[ns]
 1   하차시각        4983 non-null   datetime64[ns]
 2   승객구분        4983 non-null   object
 3   환승여부        4983 non-null   object
 4   추가운임여부      4983 non-null   object
 5   승차정류장       4983 non-null   object
 6   하차정류장       4983 non-null   object
 7   버스내체류시간(분)  4983 non-null   int64
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 311.6+ KB
None
        버스내체류시간(분)
count  4983.000000
mean      0.147702
std      24.124315
min     -59.000000
25%      -5.000000
50%       8.000000
75%      15.000000
max      52.000000

### # 최소값에 음수가 보인다(=이상치 발견)

### # 버스체류시간 중에서 음수 개수 확인

In [38]:
df_bus_card[df_bus_card["버스내체류시간(분)"] < 0]

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장,버스내체류시간(분)
18,2020-03-27 05:40:19,2020-03-27 06:26:08,일반,N,N,청하환승센터,교보생명,-14
24,2020-03-27 05:46:10,2020-03-27 06:07:06,일반,N,N,포항테크노파크,죽도시장,-39
28,2020-03-27 05:48:50,2020-03-27 06:04:20,일반,N,N,동부초등학교,현대제철,-44
30,2020-03-27 05:51:09,2020-03-27 06:05:13,일반,N,N,연일전통시장,홈플러스,-46
31,2020-03-27 05:51:16,2020-03-27 06:00:00,일반,N,N,대송교회,단지주유소,-51
...,...,...,...,...,...,...,...,...
4952,2020-03-27 22:55:17,2020-03-27 23:01:27,일반,N,N,죽도시장,교보생명,-54
4953,2020-03-27 22:55:50,2020-03-27 23:08:54,일반,N,N,시외버스터미널,창포사거리,-47
4954,2020-03-27 22:57:25,2020-03-27 23:02:11,일반,N,N,럭키아파트,장성초등학교,-55
4955,2020-03-27 22:57:58,2020-03-27 23:02:59,일반,N,N,장성럭키2차,두호초등학교,-55
4956,2020-03-27 22:59:05,2020-03-27 23:17:10,일반,N,N,시외버스터미널,안강우체국,-42

### # 이상치 정상화 공식
  * 음수로 나오는 값들 중에서
  * 60 - (원래시간 * -1)

In [43]:
 # loc[행, 열]

df_bus_card.loc[df_bus_card["버스내체류시간(분)"] < 0,
                "버스내체류시간(분)"] \
                                        = 60 - (df_bus_card["버스내체류시간(분)"] * -1)

In [44]:
df_bus_card[df_bus_card["버스내체류시간(분)"] < 0]

Empty DataFrame
Columns: [승차시각, 하차시각, 승객구분, 환승여부, 추가운임여부, 승차정류장, 하차정류장, 버스내체류시간(분)]
Index: []

In [45]:
df_bus_card.describe()

        버스내체류시간(분)
count  4983.000000
mean     15.283163
std      10.387528
min       0.000000
25%       7.000000
50%      13.000000
75%      21.000000
max      59.000000

### # 기준년도 데이터 추출해서 새로운 컬럼 만들기
  * 년도, 월, 일 따로

In [49]:
df_bus_card["기준년도"] = df_bus_card["승차시각"].dt.year

df_bus_card["기준월"] = df_bus_card["승차시각"].dt.month

df_bus_card["기준일"] = df_bus_card["승차시각"].dt.day

df_bus_card["기준시간"] = df_bus_card["승차시각"].dt.hour

df_bus_card["기준시간(분)"] = df_bus_card["승차시각"].dt.minute

df_bus_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4983 entries, 0 to 4982
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   승차시각        4983 non-null   datetime64[ns]
 1   하차시각        4983 non-null   datetime64[ns]
 2   승객구분        4983 non-null   object
 3   환승여부        4983 non-null   object
 4   추가운임여부      4983 non-null   object
 5   승차정류장       4983 non-null   object
 6   하차정류장       4983 non-null   object
 7   버스내체류시간(분)  4983 non-null   int64
 8   기준년도        4983 non-null   int64
 9   기준월         4983 non-null   int64
 10  기준일         4983 non-null   int64
 11  기준시간        4983 non-null   int64
 12  기준시간(분)     4983 non-null   int64
dtypes: datetime64[ns](2), int64(6), object(5)
memory usage: 506.2+ KB

In [50]:
df_bus_card

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장,버스내체류시간(분),기준년도,기준월,기준일,기준시간,기준시간(분)
0,2020-03-27 05:14:12,2020-03-27 05:17:14,일반,N,N,문덕사거리,성우오토모티브,3,2020,3,27,5,14
1,2020-03-27 05:15:14,2020-03-27 05:49:56,일반,N,N,준양주택3차,오거리,34,2020,3,27,5,15
2,2020-03-27 05:23:43,2020-03-27 05:46:59,일반,N,N,두호동주민센터,남구보건소,23,2020,3,27,5,23
3,2020-03-27 05:24:49,2020-03-27 05:54:12,일반,N,N,천마아파트,홈플러스,30,2020,3,27,5,24
4,2020-03-27 05:28:48,2020-03-27 05:52:31,일반,N,N,오천농협세계지점,죽도시장,24,2020,3,27,5,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,2020-03-27 23:25:13,2020-03-27 23:28:00,일반,Y,N,포은중앙도서관,롯데아파트,3,2020,3,27,23,25
4979,2020-03-27 23:27:40,2020-03-27 23:33:19,일반,N,N,KTX포항역(시내행),우현경로당,6,2020,3,27,23,27
4980,2020-03-27 23:28:29,2020-03-27 23:34:46,일반,N,N,시외버스터미널,연일파출소,6,2020,3,27,23,28
4981,2020-03-27 23:33:28,2020-03-27 23:34:42,일반,N,N,우현경로당,도심환승센터,1,2020,3,27,23,33
4982,2020-03-27 23:36:22,2020-03-27 23:40:14,일반,N,N,포은중앙도서관,두호남부초등학교,4,2020,3,27,23,36

## 모든 데이터셋을 위의 방식으로 통합

In [51]:
from datetime import datetime

### # 실행시간 체크 -> 시작시간

### # 여기에 통합할 프로그램 작성

In [72]:
start_date = datetime.today().strftime("%Y-%m-%d %H:%M:%S")

df_bus_card_tot = pd.DataFrame()

for i in range(0, 100, 1) :
    
    # 1. csv, excel 파일 불러오기
    
    file_path1 = "./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard ({})/trfcard.csv".format(i)
    file_path2 = "./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard ({})/trfcard_columns.xlsx".format(i)
    
    df_bus_card_org = pd.read_csv(file_path1)
    df_bus_card_col_org = pd.read_excel(file_path2, header = 2, usecols="B:C")
    
    # 2. 컬럼명 한글로 바꾸기
    
    df_bus_card_col_org_dict = df_bus_card_col_org.to_dict("records")
    
    df_bus_card_col_new_dict = {}
    
    for i in range(0, len(df_bus_card_col_org_dict), 1) : 
        df_bus_card_col_new_dict[df_bus_card_col_org_dict[i]["컬럼명 (영문)"]] = \
            df_bus_card_col_org_dict[i]["컬럼명 (한글)"]
        
    df_bus_card_kor = df_bus_card_org.rename(columns = df_bus_card_col_new_dict)
    
    # 3. 분석요소 추출 및 추가하기
    
    df_bus_card_kor = df_bus_card_kor.astype({"승차시각" : "str"})
    df_bus_card_kor = df_bus_card_kor.astype({"하차시각" : "str"})
    
    df_bus_card = pd.DataFrame()
    
    df_bus_card["승차시각"] = pd.to_datetime(df_bus_card_kor["승차시각"])
    df_bus_card["하차시각"] = pd.to_datetime(df_bus_card_kor["하차시각"])
    df_bus_card["승객구분"]     = df_bus_card_kor["승객연령"]
    df_bus_card["환승여부"]     = df_bus_card_kor["환승여부"]
    df_bus_card["추가운임여부"] = df_bus_card_kor["추가운임여부"]
    df_bus_card["승차정류장"]   = df_bus_card_kor["승차정류장"]
    df_bus_card["하차정류장"]   = df_bus_card_kor["하차정류장"]
    
    df_bus_card["버스내체류시간(분)"] = df_bus_card["하차시각"].dt.minute - df_bus_card["승차시각"].dt.minute
    
    df_bus_card.loc[(df_bus_card["버스내체류시간(분)"] < 0), "버스내체류시간(분)"] = \
        60 - (df_bus_card["버스내체류시간(분)"] * -1)
    
    df_bus_card["기준년도"]     = df_bus_card["승차시각"].dt.year
    df_bus_card["기준월"]       = df_bus_card["승차시각"].dt.month
    df_bus_card["기준일"]       = df_bus_card["승차시각"].dt.day
    df_bus_card["기준시간"]     = df_bus_card["승차시각"].dt.hour
    df_bus_card["기준시간(분)"] = df_bus_card["승차시각"].dt.minute
    
    # 4. 데이터 추가(통합)하기
    #  * ignore_index = True : 인덱스번호를 자동으로 증가
    
    df_bus_card_tot = df_bus_card_tot.append(df_bus_card, ignore_index=True)


end_date = datetime.today().strftime("%Y-%m-%d %H:%M:%S")

print("전체 실행 시간 : (", start_date, ") ~ (", end_date, ")")

print("전체 데이터셋 개수 : ", len(df_bus_card_tot))
df_bus_card_tot.head()

전체 실행 시간 : ( 2022-03-07 13:49:18 ) ~ ( 2022-03-07 13:51:17 )
전체 데이터셋 개수 :  1057872

,승차시각,하차시각,승객구분,환승여부,추가운임여부,승차정류장,하차정류장,버스내체류시간(분),기준년도,기준월,기준일,기준시간,기준시간(분)
0,2020-03-27 05:14:12,2020-03-27 05:17:14,일반,N,N,문덕사거리,성우오토모티브,3,2020,3,27,5,14
1,2020-03-27 05:15:14,2020-03-27 05:49:56,일반,N,N,준양주택3차,오거리,34,2020,3,27,5,15
2,2020-03-27 05:23:43,2020-03-27 05:46:59,일반,N,N,두호동주민센터,남구보건소,23,2020,3,27,5,23
3,2020-03-27 05:24:49,2020-03-27 05:54:12,일반,N,N,천마아파트,홈플러스,30,2020,3,27,5,24
4,2020-03-27 05:28:48,2020-03-27 05:52:31,일반,N,N,오천농협세계지점,죽도시장,24,2020,3,27,5,28

### # 파일 저장

In [74]:
df_bus_card_tot.to_csv("./02_data_통합본/df_bus_card_tot.csv", index = None)