# 데이터 구조 파악

## pandas 라이브러리 활용

### # 라이브러리 불러들이기

In [3]:
import pandas as pd

## [Series]

### = pd.Series( , index = )
시리즈 데이터 만들기

In [8]:
sd1 = pd.Series(['Doc', 'Cat', 'Tiger', 'Lion', 'Monkey'], 
               index = ['00','11','22','33','44'])

sd1

00       Doc
11       Cat
22     Tiger
33      Lion
44    Monkey
dtype: object

### # 딕셔너리 -> 시리즈

### = { 'key' : value ... }
딕셔너리 만들기

In [16]:
dict_data = {'a' : 1 , 'b' : 2, 'c' : 3}

dict_data

{'a': 1, 'b': 2, 'c': 3}

In [19]:
dict_data['b']

2

### 딕셔너리를 시리즈로 만들면 key 값은 인덱스가 된다.

In [22]:
sd2 = pd.Series(dict_data)

sd2

a    1
b    2
c    3
dtype: int64

In [23]:
type(sd2)

pandas.core.series.Series

### # 리스트 -> 시리즈

In [24]:
list_data = ['Dog', 'Cat', 'Tiger']

In [25]:
sd3 = pd.Series(list_data)

sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [26]:
type(sd3)

pandas.core.series.Series

### # 튜플 -> 시리즈

In [32]:
# '이순신', '1991-03-15', '남자'
# 위 데이터를 튜플로 만든다.

tup = ('이순신', '1991-03-15', '남자')

tup

('이순신', '1991-03-15', '남자')

In [33]:
type(tup)

tuple

In [36]:
col_name = ["이름", "생년원일", "성별"]

sd4 = pd.Series(tup,
               index = col_name)

sd4

이름             이순신
생년원일    1991-03-15
성별              남자
dtype: object

In [37]:
type(sd4)

pandas.core.series.Series

## [데이터프레임]

### # 딕셔너리 -> 데이터프레임

In [70]:
# 동물 : 'Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'
# 나이 : 7,9,2,3,1
# 위에 동물과 나이를 하나의 딕셔너리로 만든다.

dict_ani = {'동물' : ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'],
            '나이' : [7,9,2,3,1]}

dict_ani

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [71]:
dict_ani['동물']

['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey']

### = pd.DataFrame()
데이터프레임으로 만들기

In [49]:
df1 = pd.DataFrame(dict_ani)

df1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [50]:
type(df1)

pandas.core.frame.DataFrame

### # 리스트 -> 데이터프레임

In [53]:
# 2행 5열 리스트 만들기

list_data = [['Dog', 7],
             ['Cat', 9],
             ['Tiger', 2],
             ['Tiger', 3],
             ['Monkey', 1]]
list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Tiger', 3], ['Monkey', 1]]

### # 데이터프레임으로 만들기

In [62]:
df2 = pd.DataFrame(list_data, 
                  columns = ['동물', '나이'])

print(df2)

print(type(df2))

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3   Tiger   3
4  Monkey   1
<class 'pandas.core.frame.DataFrame'>

### 변수.dtypes
각 열의 데이터 타입 확인

In [72]:
df2.dtypes

동물    object
나이     int64
dtype: object

### # 비어있는 데이터프레임 만들기
df_null = pd.DataFrame()

In [66]:
df_null = pd.DataFrame()

df_null

Empty DataFrame
Columns: []
Index: []

### # 컬럼(변수) 만들기
df_null[" "] = " "

In [68]:
df_null["동물"] = "Dog"

df_null

Empty DataFrame
Columns: [동물]
Index: []