# txt 파일 읽어 들이기

In [1]:
import pandas as pd

In [2]:
# 20Table

df_20TABLE = pd.read_csv("./files_org/SAMPLE_DB_20TABLE_2013.txt",
                         sep = ",") # 쉼표로 구분한다.

# 30Table

df_30TABLE = pd.read_csv("./files_org/SAMPLE_DB_30TABLE_2013.txt",
                         sep = ",") # 쉼표로 구분한다.

# 40Table

df_40TABLE = pd.read_csv("./files_org/SAMPLE_DB_40TABLE_2013.txt",
                         sep = ",") # 쉼표로 구분한다.

# 53Table

df_53TABLE = pd.read_csv("./files_org/SAMPLE_DB_53TABLE_2013.txt",
                         sep = ",") # 쉼표로 구분한다.

In [ ]:
df_20TABLE

## 컬럼명 일괄 변경
  * 메타정의서에 있는 데이터랑 mapping

### # 메타정의서에서 컬럼명 가지고 오기

In [14]:
df_20TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx",
                              sheet_name = "20table_명세서일반내역", # 사용할 sheet 이름 지정
                              usecols = "A, D") # 사용할 특정 열 지정

df_30TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx",
                              sheet_name = "30table_진료내역", # 사용할 sheet 이름 지정
                              usecols = "A, D") # 사용할 특정 열 지정

df_40TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx",
                              sheet_name = "40table_상병", # 사용할 sheet 이름 지정
                              usecols = "A, D") # 사용할 특정 열 지정

df_53TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx",
                              sheet_name = "53table_처방전상세내역", # 사용할 sheet 이름 지정
                              usecols = "A, D") # 사용할 특정 열 지정

### # 데이터프레임 형태를 딕셔너리 형태로 변환

In [ ]:
df_20TABLE_col.to_dict("records")

### # 딕셔너리 형태로 전환한 데이터를 새로운 변수에 저장

In [165]:
df_20TABLE_col_list = df_20TABLE_col.to_dict("records")

### # 딕셔너리에 새로운 key 값과 value 값을 만드는 방법

1.

In [166]:
d = dict(a=1, b=2, c=3)

2.

In [167]:
d = {}

d["key1"] = 3
d["key2"] = 4

In [168]:
d

{'key1': 3, 'key2': 4}

### # for문으로 자동화

#### 방법 1.

In [169]:
df_20TABLE_col_dict = {} # 새로운 딕셔너리 만들기


for idx in range(0, len(df_20TABLE_col_list)) :
    df_20TABLE_col_dict[df_20TABLE_col_list[idx]["변수명"]] = df_20TABLE_col_list[idx]["표준한글컬럼명"]

#### 방법 2.

In [170]:
new_dict_20 = {}

for dict_kv in df_20TABLE_col_list :
    new_dict_20[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]

### # rename 함수로 컬럼명 일괄 변경

In [171]:
df_20TABLE_kor = df_20TABLE.rename(columns = new_dict_20)

### # 파일로 저장
  * 인덱스 번호 새로 부여 하지 않기

In [175]:
df_20TABLE_kor.to_excel("./files_new/df_20TABLE_kor_명세서일반내역.xlsx",
                        index = False)

### # 나머지도 변경 및 저장

In [177]:
# 30TABLE 

df_30TABLE_col.to_dict("records") #딕셔너리 형태로 전환

df_30TABLE_col_list = df_30TABLE_col.to_dict("records") # 딕셔너리 형태로 전환한 데이터를 새로운 변수에 저장

new_dict_30 = {}

for dict_kv in df_30TABLE_col_list :
    new_dict_30[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"] # for문으로 자동화

df_30TABLE_kor = df_30TABLE.rename(columns = new_dict_30) # rename 함수로 컬럼명 일괄 변경

# 40TABLE

df_40TABLE_col.to_dict("records") #딕셔너리 형태로 전환

df_40TABLE_col_list = df_40TABLE_col.to_dict("records") # 딕셔너리 형태로 전환한 데이터를 새로운 변수에 저장

new_dict_40 = {}

for dict_kv in df_40TABLE_col_list :
    new_dict_40[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"] # for문으로 자동화

df_40TABLE_kor = df_40TABLE.rename(columns = new_dict_40) # rename 함수로 컬럼명 일괄 변경

# 53TABLE

df_53TABLE_col.to_dict("records") #딕셔너리 형태로 전환

df_53TABLE_col_list = df_53TABLE_col.to_dict("records") # 딕셔너리 형태로 전환한 데이터를 새로운 변수에 저장

new_dict_53 = {}

for dict_kv in df_30TABLE_col_list :
    new_dict_53[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"] # for문으로 자동화

df_53TABLE_kor = df_53TABLE.rename(columns = new_dict_53) # rename 함수로 컬럼명 일괄 변경

# 파일로 저장

df_30TABLE_kor.to_excel("./files_new/df_30TABLE_kor_진료내역.xlsx", index = False)
df_40TABLE_kor.to_excel("./files_new/df_40TABLE_kor_상병.xlsx", index = False)
df_53TABLE_kor.to_excel("./files_new/df_53TABLE_kor_처방전상세내역.xlsx", index = False)

### # 위에 작업을 한 번에 할 수 있는 방법 찾기

In [ ]:
df_30TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx",
                              sheet_name = "30table_진료내역", # 사용할 sheet 이름 지정
                              usecols = "A, D") # 사용할 특정 열 지정

In [207]:
number = (20,30,40,53)

list = []

name = []

for num in number :
    temp = "df_{}TABLE_col".format(num)
    list.append(temp)
    
for file in list :
    temp1 = file+"_list"
    name.append(temp1)
    
for

In [208]:
name

['df_20TABLE_col_list',
 'df_30TABLE_col_list',
 'df_40TABLE_col_list',
 'df_53TABLE_col_list']

In [189]:
df_30TABLE_col.to_dict("records") #딕셔너리 형태로 전환

df_30TABLE_col_list = df_30TABLE_col.to_dict("records") # 딕셔너리 형태로 전환한 데이터를 새로운 변수에 저장

new_dict_30 = {}



for num in number :


for dict_kv in df_30TABLE_col_list :
    new_dict_30[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"] # for문으로 자동화

df_30TABLE_kor = df_30TABLE.rename(columns = new_dict_30) # rename 함수로 컬럼명 일괄 변경

In [ ]:
df_30TABLE_col